
   .product{
    display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.product:hover{

}
.productkey{
    margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.productimage{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.productprice{
    font-weight: bold;
}
.productdiscount{
    color: red;
}
h1{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: orangered;
}
.button{
  font-size: 20px;
  background-color: #FF007F;
  color: #ffffff
  ;
}
